<launch>
    <node name="line_extractor_node" pkg="line_extractor_igvc" type="line_extractor_node" output="screen">
        <param name="degree_polynomial" value="3" type="int" />
        <param name="lambda" value="0" type="double" />
        <param name="min_neighbours" value="1" type="int" />
        <param name="radius" value="80" type="double" />
    </node>
</launch>